<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="is.vidarottosson.glass.gallery">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT"/>

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@drawable/ic_photo">

        <uses-library
                android:name="com.google.android.glass"
                android:required="true"/>

        <activity
                android:name="is.vidarottosson.glass.gallery.MenuActivity"
                android:theme="@style/MenuTheme">

            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER"/>
            </intent-filter>
            <meta-data
                    android:name="com.google.android.glass.VoiceTrigger"
                    android:resource="@xml/gallery_trigger"/>

        </activity>

        <activity
                android:name=".picture.PictureActivity"
                android:label="@string/app_name"
                android:enabled="true">
        </activity>

        <activity
                android:name=".video.VideoActivity"
                android:label="@string/app_name"
                android:enabled="true">
        </activity>

        <activity
                android:name=".video.VideoListActivity"
                android:label="@string/app_name"
                android:enabled="true">
        </activity>

        <activity
                android:name=".video.VideoMenuActivity"
                android:label="@string/app_name"
                android:theme="@style/MenuTheme"
                android:enabled="true">
        </activity>

        <activity
                android:name=".picture.PictureMenuActivity"
                android:label="@string/app_name"
                android:theme="@style/MenuTheme"
                android:enabled="true">
        </activity>

        <activity
                android:name=".DetailsActivity"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
                android:enabled="true">
        </activity>

        <activity
                android:name=".DeleteActivity"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
                android:enabled="true">
        </activity>

        <activity
                android:name=".ShareMenuActivity"
                android:label="@string/app_name"
                android:enabled="true">
        </activity>

    </application>

</manifest>
